{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">

        {% block head %}
            <title>Statball | {%block title%}Find similar players{% endblock %}</title>
            <link rel="stylesheet" href="{% static 'styling/analysis.css' %}">
        {% endblock %}
        
        {% block main-content %}
            {{name}}
            <div class="form-container">

                <form class="form-group" method="post" action="/similar-players/">
                    {% csrf_token %}
                    <h3>
                        {% if previous_analysis %}
                            {{analysis_name}}
                        {% else %}
                            Find similar players
                        {% endif %}
                        
                    </h3>

                    {{form.as_p}}

                    {% if result %}

                        <img>

                    {% endif %}
                    
                    
                    <input {% if previous_analysis %}disabled{% endif %} type="submit"  name="Sign up" class="btn btn-success form-control">
                    

                </form>
            </div>

            {% if django_path %}
                <a><img src="{% static django_path %}" alt="Graph"></a>
            {% elif error %}
                <h4>{{ error }}</h4>
            {% endif %}
        {% endblock %}
</html>