body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

#bottom {
    display: flex;
    height: 100vh;
}

/* Navbar doesn't need to grow */
#navbar {
    background-color: red;
    flex-basis: 60px;

}

#main-content {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    flex: 1 1; /* Main content can grow to fill rest of the space */
}


/* Sidebar won't need to grow, otherwise it'd look distorted */
#sidebar {
    background-color: blue;
    flex-basis: 150px;
}