body {
    margin: 0;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.form-container {
    display: flex;
    flex-direction: column;
    gap: 36px;
    width: 50%;
    max-width: 560px;
    min-width: 200px;

    border: solid 1px rgb(220, 220, 230);
    border-radius: 7px;
    background-color: rgb(245, 245, 250);

    padding: 48px;
}

input {
    height: 48px;
}

#bottom {
    display: flex;
    height: 100vh;
}

/* Navbar doesn't need to grow */
#navbar {
    background-color: red;
    flex-basis: 60px;
    min-width: 200px;
}

#main-content {

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;

    flex: 1 1; /* Main content can grow to fill rest of the space */
}


/* Sidebar won't need to grow, otherwise it'd look distorted */
#sidebar {
    background-color: blue;
    flex-basis: 150px;
}

@media (max-width: 600px) {
    #sidebar {
        display: none;
    }
}