body {
    margin: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;

    height: 100vh;
}



#bottom {
    display: flex;
    align-items: stretch;
    justify-content: stretch;
    
    width: 100%;
    height: 100vh;
}
/* 
#bottom > * {
} */


#navbar {
    background-color: red;
    flex-basis: 60px;
    width: 100%;
}

#main-content {
    background-color: green;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;

    flex: 1 3;
}


#sidebar {
    background-color: blue;
    flex-basis: 150px;
}