#main-content{
    font-size: 20px;

}

input {
    padding-left: 5px;
}

.form-container {
    width: 50%;
    max-width: 560px;
    margin-bottom: 80px;
    margin-top: 50px;
}

.form-container > a{
    font-size: 15px;
    text-decoration: none;
    
}

ul {
    list-style-type: none;
    font-size: 17px;
    padding-left: 0;
}

@media (max-width: 600px) {
  

}