{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
     

        
        {% block head %}
            <title>{%block title%}Login{% endblock %}</title>
            <link rel="stylesheet" href="{% static 'styling/signup.css' %}">
        {% endblock %}



        {% block main-content %}


            

            <div class="form-container">

                <form class="form-group" method="post" action="/login/">
                    {% csrf_token %}
                    <h3>Login</h3>

                    <!-- <ul>
                        <li>{{email_msg}}</li>
                        <li>{{password_msg}}</li>
                    </ul> -->
                    
                    
                    {{login_form.as_p}}

                    <input type="submit" name="Login" class="btn btn-success form-control">

                    
                </form>
                
                <a href="/login">Login instead</a>

            </div>
        {% endblock %}

        


</html>