{% extends 'base.html' %}
{% load static %}

<!DOCTYPE html>

<html lang="en">
     

        
        {% block head %}
            <title>{%block title%}Sign up{% endblock %}</title>
            <link rel="stylesheet" href="{% static 'styling/signup.css' %}">
        {% endblock %}



        {% block main-content %}


            

            <div class="form-container">

                <form class="form-group" method="post" action="/signup/">
                    {% csrf_token %}
                    <h3>Sign up</h3>

                    <ul>
                        <li>{{email_msg}}</li>
                        <li>{{password_msg}}</li>
                    </ul>
                    
                    
                    {{form.as_p}}

                    <input type="submit" name="Sign up" class="btn btn-success form-control">

                    
                </form>
                
                <a href="/login">Login instead</a>

            </div>
        {% endblock %}

        


</html>